@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face { font-family: debug; 
  src: url('../src/font/debug.otf'); }

body{
  background-color: #0c0c0c;
  overflow: visible !important;
}
.logo{
  width: 100px;
}
.loading{
  display: block;
  margin: auto;
  width: 100%;
}
.dropdown-menu.show{
  display: flex;
  flex-direction: column;
}
.categorias{
  text-decoration: none;
  color: #000;
  text-align: center;
  text-transform: capitalize;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  height: 100%;
}
.card {
  border: solid 1px #79ffff;
  margin: 16px;
  width: 500px;
  height: 350px;
  transform: perspective(0) rotateX(0);
  box-shadow: 0 10px 20px -6px #000;
  transition: all 0.5s;
  border-radius: 4px;
  background: linear-gradient(231deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 4%, rgba(255, 255, 255, 0.5) 11%, rgba(255, 255, 255, 0.5) 14%, rgba(255, 255, 255, 0) 27%, rgba(255, 255, 255, 0) 100%);
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.titulo{
  position: absolute;
  bottom: 0;
  right: 10px;
  color: #fff;
  background-color: #000;
}
section.info {
  opacity: 0;
  margin-left: 440px;
  border-radius: 4px;
  width: 200px;
  height: fit-content;
  background: #fff;
  transition: 0.5s;
  filter: blur(4px);
}
section.info.over {
  filter: blur(0);
  opacity: 1;
  margin-left: 480px;
}
section.info h4 {
  padding: 10px;
}
section.info h5 {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
section.info p {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  padding-bottom: 10px;
}
section.info .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 120px;
}

.paginacion{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}


/* DETAIL ITEMS */
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 600px;
  margin-top: 70px;
}
h2{
  color: #fff;
  text-align: center;
  font-family: debug;
  font-size: 62px;
}

/* Not Found */
.video{
  height: 100vh;
}

.body-notFound{
  font-family: 'Press Start 2P';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%23dddcdd' fill-opacity='0.23'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
}
section.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  height: 100vh;
  
}

section.notFound h1 {
  color: red;
  font-size: 100px;
}

section.notFound h2 {
  font-size: 50px;
  color: #fff;
}

section.notFound h2, h3 {
  margin-bottom: 40px;
  color: #fff;
}

div.text {
  height: 50vh;
}

div.text a,.no {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-size: 35px;
  background-color: transparent;
  border: none;
}

div.text a:hover {
  color: red;
  text-decoration: underline; 
}

@media only screen and (max-width: 768px) {
  section.notFound {
      flex-direction: column;
      justify-content: space-around;
  }
  section.notFound div.img img {
      width: 70vw;
      height: auto;
  }
  section.notFound h1 {
      font-size: 50px;
  }
  section.notFound h2 {
      font-size: 25px;
      color: #fff;
  }
  div.text a:active {
  color: red;
  text-decoration: underline; 
}
}