@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: debug;
  src: url("../src/font/debug.otf");
}

body {
  background-color: #0c0c0c;
  overflow: visible !important;
  background: #112 url("//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg");
}
.navbar {
  background: #112 url("//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg");
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255,102,203)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler {
  border-color: rgb(255, 102, 203) !important;
}
.btn-close{
  position: absolute;
  right: 2px;
  margin-bottom: 3px;
}
.offcanvas-end{
  background: rgb(240 173 217) !important;
}
.offcanvas-title {
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
  font: 400 5vh "Vibur";
  color: #fee;
}
.d-flex{
  margin-top: 25px;
}
.dropdown-menu.show{
  background: #f4acb8;
}
.logo b {
  font: 400 7vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/*  */
.me-2{
  margin-left: 10px !important;
}
.nav-link, .categorias {
  text-decoration: none;
  color: #A5999D;
  font-size: 22px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 32px;
  position: relative;
  transition: all 200ms ease;
}
.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: #E71250;
  opacity: 0;
  transition: all 200ms ease;
}
.nav-link .icon {
  width: 32px;
  margin-right: 32px;
  filter: brightness(0) saturate(100%) invert(64%) sepia(7%) saturate(336%) hue-rotate(289deg) brightness(97%) contrast(85%);
}
.nav-link{
  padding-left: 9px !important;
}
.nav-link.dropdown-toggle{
  padding-left: 9px;
}
.nav-item a:active{
  background-color: #FEF0F4;
  color: #E71250 !important;
}
/* .nav-link.active, .nav-link:hover {

  background-color: #FEF0F4;
  color: #E71250 !important;
} */
.categorias:hover{
  background-color: #FEF0F4;
  color: #E71250 !important;
}
.nav-link.active::before, .nav-link:hover::before {
  opacity: 1;
}
.nav-link.active .icon, .nav-link:hover .icon {
  filter: brightness(0) saturate(100%) invert(18%) sepia(86%) saturate(5836%) hue-rotate(335deg) brightness(93%) contrast(95%);
}

/*  */
#btn-twtr {
  clear: both;
  color: #fff;
  border: 2px solid;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  width: 13em;
  padding: 5px 10px;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.4;
}
#btn-twtr:hover {
  color: #fff;
  opacity: 1;
}
.loading {
  display: block;
  margin: auto;
  width: 100%;
}
.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}
.categorias {
  text-decoration: none;
  color: #000;
  text-align: center;
  text-transform: capitalize;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  height: 100%;
  justify-content: center;
}
.card {
  border: solid 1px #79ffff;
  margin: 16px;
  width: 16.5rem;
  transform: perspective(0) rotateX(0);
  box-shadow: 0 10px 20px -6px #000;
  transition: all 0.5s;
  border-radius: 4px;
  background: linear-gradient(
    231deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 4%,
    rgba(255, 255, 255, 0.5) 11%,
    rgba(255, 255, 255, 0.5) 14%,
    rgba(255, 255, 255, 0) 27%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.img-card {
  width: 262px;
  height: 150px;
}
.card-body {
  background-color: #32383e;
  text-align: center;
}
.card-title {
  color: #aaa;
}
.card-text {
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fab {
  color: #aaa;
}
.span-genre {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  text-align: center;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #7a8288;
  color: #272b30 !important;
  line-height: 1;
  left: 6px;
  position: absolute;
}
.css-button-shadow-border-sliding--sky {
  min-width: 42px;
  height: 24px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #57cc99;
  z-index: 1;
  text-decoration: none;
}
.css-button-shadow-border-sliding--sky:hover:after {
  width: 100%;
  left: 0;
}
.css-button-shadow-border-sliding--sky:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #3a86ff;
  right: 0;
}
.css-button-shadow-border-sliding--sky:active {
  top: 2px;
}

section.info {
  opacity: 0;
  margin-left: 440px;
  border-radius: 4px;
  width: 200px;
  height: fit-content;
  background: #fff;
  transition: 0.5s;
  filter: blur(4px);
}
section.info.over {
  filter: blur(0);
  opacity: 1;
  margin-left: 480px;
}
section.info h4 {
  padding: 10px;
}
section.info h5 {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
section.info p {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  padding-bottom: 10px;
}
section.info .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 120px;
}

.paginacion {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.page-link {
  border: solid 1px #bad1c2;
  background-color: #f6f6c9 !important;
  color: #153462;
}
.page-item.active .page-link {
  background-color: #4fa095 !important ;
}
/* DETAIL ITEMS */
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 600px;
  margin-top: 70px;
}
h2 {
  color: #fff;
  text-align: center;
  font-family: debug;
  font-size: 62px;
}
h3 .game-detail{
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  margin: 1.5em 0 2em 0;
  color: #323a40;
}

p.italic-blue {
  font-style: italic;
  color: #89bff3;
  font-weight: 500;
  font-size: 36px;
}


.desc1-derch, li{
 list-style: none;
  color: #fff;
}
.desc1-derch h3 {
  text-shadow: 0 1px 0 #ffffff;
  color: #1e272e;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.desc1-derch h5 {
  font-size: 1.3em;
  color: #62676b;
  line-height: 1.5em;
  -webkit-text-stroke: 0.2px;
  font-weight: 400;
}

.desc1-derch h5 a {
  margin-left: 5px;
  color: #555555;
  text-transform: capitalize;
  font-size: 14px;
  -webkit-text-stroke: 0px;
  letter-spacing: 0px;
}

.buscar h4 {
  font-size: 0.9em;
  color: #555555;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: 400;
}

.desc1-derch h5 span {
  text-decoration: line-through;
}

.container{
  text-align: center;
}

/* Not Found */
.video {
  height: 100vh;
}

.body-notFound {
  font-family: "Press Start 2P";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%23dddcdd' fill-opacity='0.23'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
}
section.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  height: 100vh;
}

section.notFound h1 {
  color: red;
  font-size: 100px;
}

section.notFound h2 {
  font-size: 50px;
  color: #fff;
}

section.notFound h2,
h3 {
  margin-bottom: 40px;
  color: #fff;
}

div.text {
  height: 50vh;
}

div.text a,
.no {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-size: 35px;
  background-color: transparent;
  border: none;
}

div.text a:hover {
  color: red;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  section.notFound {
    flex-direction: column;
    justify-content: space-around;
  }
  section.notFound div.img img {
    width: 70vw;
    height: auto;
  }
  section.notFound h1 {
    font-size: 50px;
  }
  section.notFound h2 {
    font-size: 25px;
    color: #fff;
  }
  div.text a:active {
    color: red;
    text-decoration: underline;
  }
}
